#hero-img

    div
        height: 700px
        width: 100%
        background: black
        display: grid
        place-items: center

        img
            width: 300px
            border-radius: 50%
            