#navbar
    
    div
        width: 100%
        height: 50px
        padding: 15px 0
        background: rgb(29, 29, 29)
        font-family: 'Roboto', sans-serif
        box-sizing: border-box

        span
            margin: 0px 20px
            text-decoration: none
            color: rgb(198, 198, 198)
            font-size: 32px
            position: fixed
            right: 0px
            z-index: 5


            &:hover 
                transition: 0.3s
                cursor: pointer
                color: rgb(117, 117, 117)

        .home-btn
            left: 0px
        
        #nav-content
            position: fixed
            z-index: 1
            text-align: center
            right: -250px
            top: 0
            width: 250px
            height: 100%
            margin-top: 0.5vh
            background: rgba(43, 43, 43, 0.95)
            box-sizing: border-box
            padding: 90px 20px
            transition: right 0.3s

            a
                display: block
                margin: 20px 0
                color: white
                text-decoration: none
                font-size: 20px

                &:hover
                    font-size: 21px
                    transition: 0.3s
        
                    

        