#project-card

    display: none
    margin-top: -400px

    .card

        div
            background: rgb(54, 54, 54)
            color: rgb(222, 222, 222)
            width: 330px
            margin: auto
            padding: 20px
            font-family: 'Roboto', sans-serif
            height: 400px
            border: solid 2px rgb(131, 131, 131)
        


                
